{% extends 'dash.html' %}
{% load static %}
{% load i18n %}

{% block content %}
 <main id="main" class="main">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 ">
            <h1 class="h4">{% trans "الإعدادات الشخصية" %}</h1>
            <ul class="list-group list-group-numbered text-dark">
                <li class="list-group-item d-flex">
                    <a href="{% url 'profile_update' user.id %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-user mr-2"></span>
                                <strong>{% trans "الملف الشخصي" %}</strong>
                            </div>
                            {% trans "تغير صورة الشخصية, رقم الهاتف, الدولة..." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex">
                    <a href="{% url 'user_update_info' %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-suitcase mr-2"></span>
                                <strong>{% trans "معلومات الإتصال" %}</strong>
                            </div>
                            {% trans "تغير اسم المتخدم, البريد الإلكتورني..." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex">
                    <a href="{% url 'change_password' %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-lock mr-2"></span>
                                <strong>{% trans "كلمة المرور" %}</strong></div>
                            {% trans "تغيير كلمة المرور." %}
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-8 mt-3">
            <h1 class="h4">الإعدادات  المتقدمة</h1>
            <ul class="list-group list-group-numbered text-dark">
                <li class="list-group-item d-flex">
                    <a href="{% url "cover" %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-user mr-2"></span>
                                <strong>{% trans "تعديل الغلاف" %}</strong>
                            </div>
                            {% trans "صورة الغلاف, العنوان, الوصف." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex">
                    <a href="{% url "site_info" %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-suitcase mr-2"></span>
                                <strong>{% trans "معلومات الموقع" %}</strong>
                            </div>
                            {% trans "أيقونة الموقع, إسم الموقع, عنوان الموقع." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex">
                    <a href="{% url "links" %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-lock mr-2"></span>
                                <strong>{% trans "الروابط" %}</strong></div>
                            {% trans "روابط  Footer, Header." %}
                        </div>
                    </a>
                </li>

                <li class="list-group-item d-flex">
                    <a href="{% url "advanced" %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-lock mr-2"></span>
                                <strong>{% trans "متقدم" %}</strong></div>
                            {% trans "كود JavaScript, CSS..." %}
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
 </main>


{% endblock content %}