{% load static %}
<section class="py-3 bg-600" id="home">
    <div class="container-sm">
        <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 mw-100" src="{% static "assets/img/gallery/hero-header.png" %}" width="400" height="auto" alt="hero-header" /></div>
        <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
            <h1 class="fs-6 fs-xl-7 mb-5 reem">{{ settings.cover_description }}</h1>
            <a class="btn btn-primary me-2" href="{% url "login" %}" role="button">تسجيل</a><a class="btn btn-outline-secondary" href="/page/0d600743-bc11-466b-951c-ff255f77e687">المزيد</a>
        </div>
        </div>
    </div>
</section>

