<footer>
    <section class="py-3 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-sm-1">
                    <h5 class="lh-lg fw-bold mb-4 text-light rubik">من نحن </h5>
                    <p class="rubik text-white">عندما يقال سقطت ورقة التوت يكون كناية عن انكشاف شيء لم يكن مكشوفًا أو
                        المقصود به كشف الستر عن شيء ليس معروفًا أو كان مختبأ، هذا التعريف كان من الأقوال المأثورة ولقد
                        عُرف ورق التوت منذ قديم الأزل، فقبل أن يتم اختراع الملابس كان يقوم الإنسان بستر نفسه بورق التوت
                    </p>
                </div>
                <div class="col-md-4 order-sm-2">
                    <h5 class="lh-lg fw-bold text-light mb-4 rubik">راوبط مهمة</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-200 rubik" href="/">الرئيسية</a></li>
                        <li class="lh-lg"><a class="text-200 rubik" href="/contact">تواصل معنا</a></li>
                        <li class="lh-lg"><a class="text-200 rubik" href="/articles">مواضيع</a></li>
                        <li class="lh-lg"><a class="text-200 rubik" href="/page/0d600743-bc11-466b-951c-ff255f77e687">حول</a></li>
                        <li class="lh-lg"><a class="text-200 rubik" href="ظpage/602f9c26-8049-4547-9188-9e953d8ccc71">سياسة الخصوصية</a></li>
                    </ul>
                </div>
                <div class="col-md-4 order-sm-2">
                    <h5 class="lh-lg fw-bold text-light mb-4 rubik"> المزيد</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        {% for link in footer %}
                        <li class="lh-lg"><a class="text-200 rubik" href="{{ link.url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
        <p class="fs-1 text-center py-3 rubik">
            حقوق النشر ©
            <script>document.write(new Date().getFullYear());</script> 2023 جميع الحقوق محفوظة.
        </p>

</footer>