{% load static %}<header class="navbar bg-white navbar-expand-lg border-bottom mb-2 nav">
    <div class="container-fluid">
      <a class="text-muted logo-text" href="/">
        {% if settings.logo %}
          <img src="{{ settings.logo.url }}" width='auto' height="41px" title="{{ settings.description }}" alt="{{ settings.description }}" /></a>
        {% else %}
          <img src="{% static 'img/poolsbox.webp' %}" width='auto' height="41px" title="{{ settings.description }}" alt="{{ settings.description }}" /></a>
        {% endif %}
      <a href="/menu" class="navbar-toggler fs-1"> ≡ </a>
      <nav class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in links %}
            <li class="nav-item">
              <a class="nav-link text-muted fs-6" {% if link.new_tab %}target="_blank"{% endif %} href="{{ link.url }}">{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <form class="d-flex" action="{% url "search" %}" method="GET">
          <div class="bg-white border rounded-pill d-flex me-2">
            <input type="search" class="form-control border-0 rounded-pill ps-3" value="{{query}}" name="query" placeholder="Search...">
            <button class="btn text-white bg-gradient-success my-1 me-1 btn-sm rounded-pill">
             Search
            </button>
            </div>
        </form>
      {% if user.is_authenticated  %}
        <a class="btn btn-info btn-sm rounded-pill text-white px-3" href="/dashboard">Dashboard</a>
      {% else %}
        <a class="btn btn-info btn-sm rounded-pill text-white px-3" href="{% url 'login' %}">Join</a>
      {% endif %}
      </nav>
    </div>
  </header>

{{ DEBUG }}
