<nav id="sidebar" class="sidebar js-sidebar text-end">
    <div class="sidebar-content js-simplebar text-end">
        <a class="sidebar-brand" href="/dashboard">
            <span class="mx-1">{% if settings.name %}{{ settings.name }}{% else %}Site Name{% endif %}</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item active">
                <a class="sidebar-link" href="/dashboard">
                    <span class="mx-1">لوحة التحكم</span>
                    <i class="fs-4 bi bi-sliders2-vertical"></i>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="/post/list/">
                    <span class="mx-1">مقالات</span>
                    <i class="fs-4 bi bi-layout-text-window-reverse"></i>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url "list_category" %}">
                    <span class="mx-1">أصناف</span>
                    <i class="fs-4 bi bi-tags"></i> 
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/users">
                    <span class="mx-1">مستخدمون</span>
                    <i class="fs-4 bi bi-person"></i>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/pages">
                    <span class="mx-1">صفحات</span>
                    <i class="fs-4 bi bi-back"></i>
                </a>
            </li>

            {% comment %} <li class="sidebar-item">
                <a class="sidebar-link" href="/books/list">
                    <i class="mx-1" data-feather="book"></i> <span class="mx-1">Books</span>
                </a>
            </li> {% endcomment %}

            <li class="sidebar-item">
                <a class="sidebar-link" href="/contact/list">
                    <span class="mx-1">رسائل</span>
                    <i class="fs-4 bi bi-chat-left-dots"></i>
                </a>
            </li>

            <li class="sidebar-header">
                الأدوات و إعدادات
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/settings">
                    <span class="mx-1">إعدادات</span>
                    <i class="fs-4 bi bi-gear"></i>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'profile' user.username %}">
                    <span class="mx-1">الملف الشخصي</span>
                    <i class="fs-4 bi bi-person-circle"></i>
                    
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'logout' %}">
                    <span class="mx-1">خروج</span>
                    <i class="fs-4 bi bi-box-arrow-right"></i> 
                </a>
            </li>
        </ul>
    </div>
</nav>